*{
font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #665929;
}

/*----------Header----------*/
#titulomain {
    font-family: "Autour One", system-ui;
    font-weight: 500;
    font-style: bold;
    text-align: center;
}
.nav-link {
    transition: transform 0.3s ease;
}
.nav-link:hover {
    color: #665929;
    transform: scale(1.02);
}

/*----------Main----------*/
.destacado {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.boton1{
    font-weight: 500;
    color: #665929;
}
.boton1:hover{
    background-color: #665929;
    color: #f1b598;
}
.cards1 {
    width: 300px;
}
.cards1, .boton1 {
    transition: transform 0.5s ease;
}
.cards1:hover, .boton1:hover {
    transform: scale(1.02);
}

/*----------Colores----------*/
.lila {
    background-color: #ddd3e0;
}
.crema{
    background-color: #fbf0e7;
}
.salmon{
    background-color: #f1b598;
}
